[submodule "vim-files/vim/bundle/nerdtree"]
	path = vim-files/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-files/vim/bundle/simple-pairs"]
	path = vim-files/vim/bundle/simple-pairs
	url = https://github.com/vim-scripts/simple-pairs.git
[submodule "vim-files/vim/bundle/minibufexpl"]
	path = vim-files/vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim-files/vim/bundle/nerdcommenter"]
	path = vim-files/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-files/vim/bundle/syntastic"]
	path = vim-files/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-files/vim/bundle/tagbar"]
	path = vim-files/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-files/vim/bundle/ctrlp.vim"]
	path = vim-files/vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-files/vim/bundle/vim-colors-solarized"]
	path = vim-files/vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim-files/vim/bundle/auto-pairs"]
	path = vim-files/vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim-files/vim/bundle/vim-airline"]
  path = "vim-files/vim/bundle/vim-airline"
  url = "git@github.com:bling/vim-airline.git"
